[Unit]
Description=Honeycomb log tailer honeytail
After=network.target

[Service]
ExecStart=/usr/bin/honeytail -c /etc/honeytail/honeytail.conf
KillMode=process
Restart=on-failure
User=honeycomb
Group=honeycomb

[Install]
Alias=honeytail honeytail.service
